{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Encrypt-decrypt</title>
        
        <!-- styles -->
        <link href="{% static 'encrypt_decrypt/css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'encrypt_decrypt/css/bootstrap-responsive.css' %}" rel="stylesheet" />
        <link href="{% static 'encrypt_decrypt/css/style.css' %}" rel="stylesheet" />
        <link href="{% static 'encrypt_decrypt/color/default.css' %}" rel="stylesheet" />

        <style>
            .Buttons {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <header>
            <!-- start top -->
            <div id="topnav" class="navbar navbar-fixed-top default">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="logo">
                            <a href="{% url 'cloud-home' %}">
                                <h1 style="color:white">Encrypt-Decrypt</h1> 	
                            </a>
                        </div>
                        <div class="navigation ">
                            <nav>
                                <ul class="nav pull-right">
                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    {% else %}
                                        <li><a href="{% url 'register' %}">Register</a></li>
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <section class="container">
            <div class="content-section">
                    <h2>You have been logged out!</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <a href="{% url 'login' %}">Log In Again</a>
                        </small>
                    </div>
            </div>
        </section>
    </body>
</html>